<div class="mt-5">
  <div class="card contentview ">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/images/Online-Payments.jpg" class="card-img" alt="..." height="300" width="100">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              
              <div class="form-group">
                <label for="Mentor"><b>Pay by Training Id</b></label>
                <input type="number" class="form-control" id="trainingId" [(ngModel)]="trainingId" name="trainingId" placeholder="pay using trainingId">
              </div>


              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>




</div>