<div class="container-fluid">
  <div class="row">
    <div class="col-2 ">


    </div>

  </div>
  <div class="col-8">
    <div class="mt-5">
      <div class="card contentview ">
        <div class="card-body">



          <div class="card-body">
            You Succesfully Registerd
            <a [routerLink]="['/home']" class="dropdown-item" routerLinkActive="active">
              <h1>Click here to navigate Home page for login</h1>
            </a>


          </div>
        </div>



      </div>

    </div>
  </div>
  <div class="col-2">

  </div>
</div>