<div class="container-fluid ">
    <div class="row  navsurf">
        <div class="col-3  d-flex   linksnav">
            <div><a href="#">Hi {{email}}</a></div>
            
  
  
        </div>
        <div class="col-6"></div>
        <div class="col-3 d-flex justify-content-around  linksnav">
            <div><a routerLink="UserPayment" class="dropdown-item" routerLinkActive="active">UserPayment</a></div>
            <div><a routerLink="UserTraining" class="dropdown-item" routerLinkActive="active">Trainings</a></div>
            <div><a (click)="logout()">Log out</a></div>

  
        </div>
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="row">
  
          <div class="col-2">
              <app-user-profile></app-user-profile>
          </div>
          <div class="col-7">
              <router-outlet></router-outlet>
              
          </div>
          <div class="col-3">
              <app-courses></app-courses>
          </div>
  
          
      </div>
  </div>