<div class="mt-5">
  <div class="card contentview ">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/images/Online-Payments.jpg" class="card-img" alt="..." height="300" width="100">
        </div>
        <div class="col-md-8">
          <div class="card-body" *ngIf=" trainingDetail">
            <table class="list-group list-group-flush">

              <tr class="list-group-item">
                <td>Payment Id:</td>
                <td>{{trainingDetail.id}}</td>
              </tr>
              <tr class="list-group-item">
                <td>email:</td>
                <td>{{trainingDetail.userMailId}}</td>
              </tr>
              <tr class="list-group-item">
                <td>Mentor Mail Id</td>
                <td> {{trainingDetail.mentorMailId}}</td>
              </tr>
              <tr class="list-group-item">
                <td>Course Name</td>
                <td> {{trainingDetail.courseName}}</td>
              </tr>
             

            </table>
            <form (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label for="Mentor"><b>Enter the Amount to pay</b></label>
                <input type="number" class="form-control" id="amount" [(ngModel)]="amount" name="amount"
                  placeholder="Enter the amount you have to pay">
              </div>


              <button type="submit" class="btn btn-primary">Pay Now</button>
            </form>

          </div>
           <div class="card-body" *ngIf=!trainingDetail>
      
            <h3>Sorry ! No results Found .Try with Appropriate Training Id</h3>

           </div>

           

        </div>
      </div>
    </div>
  </div>




</div>